
<article class="category">

  <h3>Create a new category</h3>
  <a class="btn btn-primary"
    <%= link_to 'New Category', new_admin_category_path  %>
  </a>
  <br>
    <h3><%= @categories.name %></h3>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %> | </td>
      </tr>
    <% end %>


</article>
