


    <dt>User:</dt>
    <dd>
      <%= review.user_id %>
    </dd>


    <dt> Description: </dt>
    <dd>
      <%= review.description %>
    </dd>

    <dt> Rating: </dt>
    <dd>
      <%= review.rating %>
    </dd>

    <dd>
      <% if current_user && current_user.id == review.user_id %>
          <div class="btn btn-default">
            <%= link_to 'destroy', [review.product, review],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
          </div>
      <% end %>
    </dd>